[alias]
# Building
c = "clippy"
br = "build --release"
rr = "run --release"
nt = "nextest run"
snap = "insta test --review"
w = "watch -c"
# Packages
up = "update"
ft = "feature"
mod = "modules generate"
tr = "tree"
ls = "tree --depth 1"
pkgup = "install-update -a"
# Cleaning
cl = "clean"
cr = "clean-recursive"
cc = "cache -a"

[build]
# rustflags = ["-C", "link-arg=-fuse-ld=lld"]
rustflags = ["-C", "link-arg=-fuse-ld=mold"]
# rustflags = ["-C", "link-arg=-fuse-ld=mold", "-Z", "threads=8"] # note: experimental
