[user]
	email = manhei5001@gmail.com
	name = Isaac Hung

[alias]
	st = status
	cm = commit -am
	ca = commit --amend --no-edit
	co = checkout
	ps = push
	pl = pull
	df = diff
	dc = diff --cached
	root = rev-parse --show-toplevel

[credential "https://github.com"]
	helper = 
	helper = !~/.nix-profile/bin/gh auth git-credential

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[diff]
	external = difft --skip-unchanged --tab-width 4
	tool = difftastic

[difftool "difftastic"]
    # See `man git-difftool` for a description of MERGED, LOCAL and REMOTE.
    cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"

[difftool]
    prompt = false

[pager]
    difftool = true

# [core]
# 	pager = delta

# [delta]
# 	navigate = true
# 	line-numbers = true
# 	side-by-side = true
# 	syntax-theme = OneHalfDark

[init]
	defaultbranch = main

[credential "https://gist.github.com"]
	helper = 
	helper = !~/.nix-profile/bin/gh auth git-credential

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
