theme = "onedark"
# catppuccin_{frappe,latte,macchiato,mocha} everforest_{dark,light}
# gruvbox nord{_light} one{dark,light} tokyonight{_storm}

[editor]
scrolloff = 3
scroll-lines = 4
middle-click-paste = false
shell = ["bash", "-c"]
line-number = "relative"
cursorline = true
idle-timeout = 0
completion-trigger-len = 1
completion-replace = true
bufferline = "multiple"
color-modes = true

[editor.statusline]
left = ["mode", "file-name", "read-only-indicator", "file-modification-indicator"]
center = ["version-control", "workspace-diagnostics"]
right = ["diagnostics", "spacer", "selections", "primary-selection-length", "register", "spacer", "position", "position-percentage", "spacer", "file-type", "spinner"]
mode = { normal = "󰚄", insert = "󰏫", select = "󰩬" }

[editor.lsp]
display-messages = true
display-inlay-hints = true
goto-reference-include-declaration = false

[editor.cursor-shape]
normal = "block"
insert = "bar"
select = "underline"

[editor.file-picker]
hidden = false

[editor.indent-guides]
render = true
character = "╎" # "▏", "╎", "┆", "┊"

[editor.soft-wrap]
enable = true

[keys.normal]
C-s = ":w"
C-q = ":qa"
tab = ":bn"
S-tab = ":bp"
space.x = ":bc"
space.X = ":bc!"
0 = "goto_line_start"
"$" = "goto_line_end"
"^" = "goto_first_nonwhitespace"
"{" = "goto_prev_paragraph"
"}" = "goto_next_paragraph"
"%" = ["save_selection", "select_all"]
C-w.c = "wclose"
C-h = "jump_view_left"
C-j = "jump_view_down"
C-k = "jump_view_up"
C-l = "jump_view_right"

[keys.insert]
# j.k = "normal_mode"
C-backspace = "delete_word_backward"
C-del = "delete_word_forward"

[keys.normal."\\"]
b = ":sh zellij run -cf -- bacon"
c = ":sh zellij run -f -- ~/.local/bin/cht.sh"
f = ":sh zellij run -cf -- xplr"
g = ":sh zellij run -cf -- gitui"
h = ":sh zellij run -cf -- htop"
m = ":sh zellij run -f -- make"
n = ":sh zellij run -f -- cargo nextest run"
space = ":sh zellij action toggle-floating-panes"
